.menu {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100px;
    width: auto;
    background-color: black;
}
.menubuttons {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100px;
    width: auto;
    background-color: black;
}
body {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    margin: 0;
    padding: 0;
    border: 0;
    background-image: url(bg.png);
    background-repeat: repeat;
}
.Home {
    display: inline-block;
    color: rgb(255, 0, 0);
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-left: 20%;
    height: 100px;
    width: auto;
    list-style-type: none;
}
.WhoAmI {
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-left: 20%;
    height: 100px;
    width: auto;
    list-style-type: none;
}
.WhyVoteMe {
    display: inline-block;
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    margin-left: 20%;
    height: 100px;
    width: auto;
    list-style-type: none;
}

.HomeA {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    height: auto;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.WhoAmIA {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    height: auto;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.WhyVoteMeA {
    display: inline-block;
    text-decoration: none;
    color: white;
    text-align: center;
    height: auto;
    width: auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.slogan {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.future {
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    text-align: center;
    width: 100%;
    text-decoration: underline;
    margin-top: 0;
    font-size: 50px;
}
.online {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 772.5px;
    height: 1000px;
    margin-bottom: 20px;
    border-radius: 10px;
}
.form {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
    margin-bottom: 50px;
    border-radius: 10px;
}
.aboutme {
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    font-size: xx-large;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
}